@import url("tipografia/fonts.css");

body {
    padding: 0px;
    margin: 0px;
    font-family: Quicksand;
}

.header {
    display: flex;
    width: 100%;
    max-width: 1200px;
    position: absolute;
    padding: 20px 30px;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
}

.jumbotron-text-left{
    height: 50px;
    font-family: FjallaOne;
    font-style: normal;
    background-color: #ffff;
}

.w3-container{
    width:50px;
}

.w3-light-white{
    text-align: center;

}

.logo {
    width: 10%;
}

.logo img {
    width: 100%;
}

.search {
    width: 2%;
    padding: 5px;
    vertical-align: middle;
}

.search img {
    width: 100%;
    cursor:pointer;
}

.bag {
    width: 2%;
    padding: 4px;
    vertical-align: middle;
}

.bag img {
    width: 100%;
    cursor:pointer;    
}

.nav {
    width: 90%;
}

.menu {
    margin: 0px;
    padding: 0px;
    text-align: right;
    font-size: 16px;
    color: #ffff;
}

.menu a {
    color: #358E81;
}

.menu :hover {
    font-style: bold;
    size: 50px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display:  inline-block;
    text-decoration: none;
    padding: 5px 20px;
}

.hero img {
    width: 100%;
}

.promo {
    background-color: #FFE8E8;
    color: #725247;
    text-align: center;
    padding: 15px;
}

.list {
    max-width: 1000px;
    margin: auto;
    display: flex;
    margin: 15px;
    width: 50px;
    color: #565656;
}

.product{
    text-align: center;
}

.selector {
    background-color: #DCF4EB;
    border: 2px;
    border-color: #358E81;
    border-radius: 10px;
    width: 300px;
    height: 80%;
    margin: 10px;
}

.item {
    width: 33.3%;
    box-sizing: border-box;
    padding: 10px;
}

.item img {
    width: 250px;
}

.boton-comprar {
    background-color: #358E81;
    font-size: 18px;
    text-align: center;
    width: 450px;
    padding: 20px;
    color: #ffff;
   
    text-decoration: underline; 
}

.boton-ver {
    background-color: #ffff;
    border:1px;
    font-size: 18px;
    text-align: center;
    width: 450px;
    padding: 20px;
    color: #358E81;
    border-color: #358E81;
}

footer{
    background-color: #725247;
    color: #ffff;
    text-align: center;
    padding: 50px;
    padding-left: 20px;
    
}